In [15]:
import pandas as pd

In [16]:
ekon_wszystkie = pd.read_csv('datasets/cale/ekonometryczne_wszystkie.csv', index_col=0)
df_lag = pd.read_csv('datasets/cale/zbior_do_lagow.csv', index_col=0)
ml_wszystkie = pd.read_csv('datasets/cale/ml_wszystkie.csv', index_col=0)

display(ekon_wszystkie.head())
display(df_lag.head())
display(ml_wszystkie.head())

,return ratio,ATR,MOM,CCI,EMA,RSI,Will_R,MFI,DX,PLUS_DM,...,MAXINDEX_diff_1,MIN_diff_1,MININDEX_diff_1_shift_19,MULT_diff_1,ATAN_diff_1,CEIL_diff_1,FLOOR_diff_1,LN_diff_1,LOG10_diff_1,SQRT_diff_1
2012-07-02,-0.026773,0.481986,1.05,103.024634,12.824644,57.664648,-22.613065,52.602204,23.907183,2.182347,...,0.0,0.0,0.0,-2.1030,-0.001980,0.0,0.0,-0.027138,-0.011786,-0.050102
2012-07-03,0.026022,0.475416,0.56,110.859729,12.887570,61.020501,-5.025126,57.027455,23.907183,2.026465,...,0.0,0.0,0.0,0.4492,0.001876,0.0,0.0,0.025689,0.011157,0.047411
2012-07-05,-0.010145,0.466458,0.21,90.224949,12.937404,59.005672,-12.698413,58.891864,23.907183,1.881717,...,0.0,0.0,0.0,-0.6687,-0.000739,0.0,0.0,-0.010197,-0.004428,-0.018891
2012-07-06,-0.019034,0.462425,0.56,44.708625,12.967249,55.350451,-27.777778,54.004518,15.702364,1.747309,...,0.0,0.0,0.0,-5.0065,-0.001413,0.0,0.0,-0.019217,-0.008346,-0.035343
2012-07-09,-0.013433,0.450109,0.22,-3.784987,12.983555,52.906929,-47.887324,50.153908,10.201357,1.622501,...,0.0,0.0,0.0,-4.7882,-0.001010,0.0,0.0,-0.013524,-0.005873,-0.024669

,open,high,low,close,Adj Close,volume,ATR,MOM,CCI,EMA,...,ATVI_gaming_rr,TTWO_gaming_rr,AMD_rr,SandP_rr,NasdaqTech_rr,return ratio,fps_transformed_ffill,fps_transformed_0fill,fps_transformed_interpolated,fps_interpolated_transformed
2012-01-03,14.30,14.40,14.01,14.04,12.981244,11701100,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2012-01-04,14.05,14.26,13.92,14.20,13.129175,8684300,NaN,NaN,NaN,NaN,...,-0.013788,0.005390,-0.007266,0.007260,-0.008122,0.011396,NaN,0.0,NaN,NaN
2012-01-05,14.13,14.78,14.07,14.71,13.600721,14088700,NaN,NaN,NaN,NaN,...,-0.003701,0.032881,-0.001830,0.001578,0.007389,0.035915,NaN,0.0,NaN,NaN
2012-01-06,14.70,14.71,14.37,14.54,13.443540,13331300,NaN,NaN,NaN,NaN,...,0.004127,0.017301,-0.003666,0.000149,0.007123,-0.011557,NaN,0.0,NaN,NaN
2012-01-09,14.55,14.82,14.44,14.54,13.443540,12706100,NaN,NaN,NaN,NaN,...,0.004110,0.010204,0.012879,-0.000082,0.006352,0.000000,NaN,0.0,NaN,NaN

,y_return_ratio,ATR,MOM,CCI,EMA,RSI,Will_R,MFI,DX,PLUS_DM,...,MAXINDEX_diff_1,MIN_diff_1,MININDEX_diff_1_shift_19,MULT_diff_1,ATAN_diff_1,CEIL_diff_1,FLOOR_diff_1,LN_diff_1,LOG10_diff_1,SQRT_diff_1
2012-07-02,-0.026773,0.475985,1.53,148.118434,12.781515,62.987843,-1.546392,59.313104,31.365741,2.350220,...,7.0,0.0,1.0,15.5678,0.003153,0.0,0.0,0.042874,0.018620,0.078845
2012-07-03,0.026022,0.481986,1.05,103.024634,12.824644,57.664648,-22.613065,52.602204,23.907183,2.182347,...,0.0,0.0,0.0,-2.1030,-0.001980,0.0,0.0,-0.027138,-0.011786,-0.050102
2012-07-05,-0.010145,0.475416,0.56,110.859729,12.887570,61.020501,-5.025126,57.027455,23.907183,2.026465,...,0.0,0.0,0.0,0.4492,0.001876,0.0,0.0,0.025689,0.011157,0.047411
2012-07-06,-0.019034,0.466458,0.21,90.224949,12.937404,59.005672,-12.698413,58.891864,23.907183,1.881717,...,0.0,0.0,0.0,-0.6687,-0.000739,0.0,0.0,-0.010197,-0.004428,-0.018891
2012-07-09,-0.013433,0.462425,0.56,44.708625,12.967249,55.350451,-27.777778,54.004518,15.702364,1.747309,...,0.0,0.0,0.0,-5.0065,-0.001413,0.0,0.0,-0.019217,-0.008346,-0.035343

In [17]:
for col in ekon_wszystkie.columns.drop('return ratio'):
    ekon_wszystkie[col] = ml_wszystkie[col]

In [18]:
ekon_wszystkie.head()

,return ratio,ATR,MOM,CCI,EMA,RSI,Will_R,MFI,DX,PLUS_DM,...,MAXINDEX_diff_1,MIN_diff_1,MININDEX_diff_1_shift_19,MULT_diff_1,ATAN_diff_1,CEIL_diff_1,FLOOR_diff_1,LN_diff_1,LOG10_diff_1,SQRT_diff_1
2012-07-02,-0.026773,0.475985,1.53,148.118434,12.781515,62.987843,-1.546392,59.313104,31.365741,2.350220,...,7.0,0.0,1.0,15.5678,0.003153,0.0,0.0,0.042874,0.018620,0.078845
2012-07-03,0.026022,0.481986,1.05,103.024634,12.824644,57.664648,-22.613065,52.602204,23.907183,2.182347,...,0.0,0.0,0.0,-2.1030,-0.001980,0.0,0.0,-0.027138,-0.011786,-0.050102
2012-07-05,-0.010145,0.475416,0.56,110.859729,12.887570,61.020501,-5.025126,57.027455,23.907183,2.026465,...,0.0,0.0,0.0,0.4492,0.001876,0.0,0.0,0.025689,0.011157,0.047411
2012-07-06,-0.019034,0.466458,0.21,90.224949,12.937404,59.005672,-12.698413,58.891864,23.907183,1.881717,...,0.0,0.0,0.0,-0.6687,-0.000739,0.0,0.0,-0.010197,-0.004428,-0.018891
2012-07-09,-0.013433,0.462425,0.56,44.708625,12.967249,55.350451,-27.777778,54.004518,15.702364,1.747309,...,0.0,0.0,0.0,-5.0065,-0.001413,0.0,0.0,-0.019217,-0.008346,-0.035343

In [19]:
ekon_wszystkie.to_csv('datasets/cale/ekonometryczne_wszystkie_2019_03_28__12_17_36.csv')

In [20]:
ekon_st = pd.read_csv('datasets/cale/ekonometryczne_stacjonarne.csv', index_col=0)

In [21]:
for col in ekon_st.columns.drop('y_return_ratio'):
    ekon_st[col] = ml_wszystkie[col]

In [24]:
ekon_st.isna().sum()

y_return_ratio                                   1
TensorFlow__diff_1_shift_4                     127
deep learning__diff_1_shift_4                  127
Artificial Intelligence__diff_1_shift_19       127
Machine Learning__diff_1_shift_4               127
neural network__diff_1_shift_9                 127
MXNet__diff_1_shift_9                          127
blockchain_news_diff_1_shift_4                 127
GPU_news_diff_1_shift_17                       127
gaming_news_diff_1_shift_2                     127
SandP_diff_1                                   127
NasdaqTech_diff_1                              127
ATVI_gaming_diff_1                             127
TTWO_gaming_diff_1                             127
UBSFY_gaming_diff_1                            127
fps_transformed_ffill_diff_1_shift_2           127
fps_transformed_interpolated_diff_1_shift_2    127
fps_interpolated_transformed_diff_1_shift_2    127
PLUS_DM_diff_1                                 127
MINUS_DM_diff_1_shift_8                        127
AD_diff_1                                      127
OBV_diff_1                                     127
MIDPOINT_diff_1                                127
MIDPRICE_diff_1                                127
SAR_diff_1_shift_13                            127
TEMA_diff_1                                    127
AVGPRICE_diff_1                                127
MEDPRICE_diff_1                                127
TYPPRICE_diff_1                                127
WCLPRICE_diff_1                                127
LINEARREG_diff_1                               127
TSF_diff_1                                     127
ADD_diff_1                                     127
MAX_diff_1                                     127
MAXINDEX_diff_1                                127
MIN_diff_1                                     127
MININDEX_diff_1_shift_19                       127
MULT_diff_1                                    127
ATAN_diff_1                                    127
CEIL_diff_1                                    127
FLOOR_diff_1                                   127
LN_diff_1                                      127
LOG10_diff_1                                   127
SQRT_diff_1                                    127
ATVI_gaming_rr                                 127
TTWO_gaming_rr                                 127
AMD_rr                                         127
SandP_rr                                       127
NasdaqTech_rr                                  127
dtype: int64

In [22]:
ekon_st.to_csv('datasets/cale/ekonometryczne_stacjonarne_2019_03_28__12_22_55.csv')